* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* body {
    background-color: #d1d1d1;
} */

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#nav {
    align-content: center;
}

#header {
    padding: 20px
    ;
}

#main {
    margin: 20px;
    display: block;
    justify-content: center;
}

#quiz {
    margin: 100px auto 10px auto;
    height: 40vh;
    width: 50vw;
    text-align: center;
    display: block;
}

#begin {
    margin-top: 15px;
}

#answer {
    display: block;
    margin: 0 auto;
    
}

#one *:hover,
#two *:hover,
#three *:hover,
#four *:hover,
#begin *:hover, 
#nav a:hover {
    cursor: pointer;
    opacity: 0.65;
}